p {
  text-align: justify;
}

#container {
  padding: 10px;
}

#container h1 {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 10px;
}

#description {
  display: flex;
  align-items: center;
}
