<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <h1>Qui suis-je ?</h1>
  <ion-grid>
    <ion-row id="description">
      <ion-col size="3">
        <img src="assets/images/moi.jpeg">
      </ion-col>
      <ion-col size="9">
        <p>
          Je m'appelle <strong>Altindal Murat</strong>, je suis en 3<sup>ème</sup> année de Bachelor Universitaire de
          Technologie mention Informatique Parcours-Type Réalisation d'Applications : conception, développement,
          validation option étude longue.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Grocery Boost</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Le thème de ce projet découle d'un projet personnel pas encore finalisé. En effet, je me suis rendu compte que
          j'organisait ma liste de course selon les plats que je désirais consommer durant la semaine. C'est-à-dire que,
          chaque semaine, j'organisait un planning avec les repas que je désirais, et suite à cela j'établissait la
          liste des ingrédients pour en faire ma liste de course.
        </p>
        <p>
          Pour cela, sous format papier j'ai établis une liste de 30 repas que je variais chaque semaine, comme une
          liste de repas que je consommais régulièrement. C'est ainsi que l'idée de Grocery Boost est née ! Étant
          fainéant de nature (car je suis étudiant en informatique), je voulais automatiser cette répétition.
        </p>
        <p>
          C'est ainsi que GroceryBoost est né, une application mobile où j'en serait le seul détenteur, permettant
          d'établir une liste de repas avec pour chacun, leur recette, leur liste d'ingrédients, .... Après avoir établi
          ma liste de repas, GroceryBoost permet d'établir le planning de repas par semaine, mois, ou période choisie.
          Suite à cela, GroceryBoost établit la liste de course selon les ingrédients de chaque repas.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>