<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="meals">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Repas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="planner">
      <ion-icon name="calendar-outline" size=""></ion-icon>
      <ion-label>Planning</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="groceries">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Liste</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="photos">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="people"></ion-icon>
      <ion-label>À propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>