<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Planning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mes plannings</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button routerLink="/planner/new">Créer un planning</ion-button>
  <ion-card style="margin-bottom: 100px;">
    <ion-card-header>
      <ion-card-title>Liste des plannings</ion-card-title>
      <ion-card-subtitle>Tous vos plannings listé par ordre alphabétique !</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let calendar of calendars">
        <ion-item class="ion-margin-vertical" [routerLink]="['/planner/show', calendar.id]">
          <ion-thumbnail slot="start">
            <img src="{{getReformattedSrc()}}" alt="">
          </ion-thumbnail>
          <ion-label>Période du <strong>{{getReformattedDate(calendar.startDate)}}</strong> au
            <strong>{{getReformattedDate(calendar.endDate)}}</strong></ion-label>
          <!--
          <div style="display: flex; flex-direction: column;">
            <ion-button color="primary" [routerLink]="['/meals/show', meal.id]"><ion-icon
                name="eye-outline"></ion-icon></ion-button>
            <ion-button color="warning" [routerLink]="['/meals/edit', meal.id]"><ion-icon
                name="create-outline"></ion-icon></ion-button>
            <ion-button color="danger" (click)="setDelete(meal.id)"><ion-icon
                name="trash-outline"></ion-icon></ion-button>
          </div>
        -->

        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>