<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GroceryBoost
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GroceryBoost</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <img src="/assets/images/Grocery_Boost_Logo.png"
          class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
      </ion-row>

      <ion-row id="home-detail">
        <h5>Organiser vos courses n'a jamais été aussi facile !</h5>
        <p>Créer vos repas, organiser votre planning par semaine/mois et on <strong>GroceryBoost</strong> s'occupe de
          votre liste de course.</p>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>