<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/planner"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau planning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Nouveau planning</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          <h2 class="ion-text-center">Date de début</h2>
        </ion-label>
        <ion-datetime-button disabled="{{calendarVisibility}}" datetime="startDatetime"
          presentation="date"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime [(ngModel)]="calendar.startDate" #startTime id="startDatetime" presentation="date"
              firstDayOfWeek="1">
              <ion-buttons slot="buttons">
                <ion-button color="danger" (click)="startTime.reset()">Réinitialiser</ion-button>
                <ion-button color="primary" (click)="startTime.confirm(true)">Confirmer</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col>
        <ion-label>
          <h2 class="ion-text-center">Date de fin</h2>
        </ion-label>
        <ion-datetime-button disabled="{{calendarVisibility}}" datetime="endDatetime"
          presentation="date"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime #endTime id="endDatetime" presentation="date" firstDayOfWeek="1"
              [(ngModel)]="calendar.endDate">
              <ion-buttons slot="buttons">
                <ion-button color="danger" (click)="endTime.reset()">Réinitialiser</ion-button>
                <ion-button color="primary" (click)="endTime.confirm(true)">Confirmer</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <ion-row style="display: flex; justify-content: center;" class="ion-margin-vertical">
      <ion-button *ngIf="calendarVisibility" color="warning" (click)="updateCalendar()">Modifier</ion-button>
      <ion-button color="primary" (click)="confirmCalendar()">Confirmer</ion-button>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="plannersExist()" style="display: flex; justify-content: center; flex-direction: column">
    <ion-item *ngFor="let planner of calendar.planners; let i = index">
      <ion-row style="display:flex; align-items: center;">
        <ion-col>{{planner.reformatDate()}}</ion-col>
        <ion-col>
          <ion-select aria-label="planner" label="Sélectionner un repas" labelPlacement="stacked"
            [(ngModel)]="selectedMealOptionIds[i]">
            <ion-select-option *ngFor="let meal of meals" [value]="meal.id">{{meal.name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <!--
  <div style="display: flex; justify-content: center;" class="ion-margin-vertical">
    <ion-datetime (click)="handleCalendar($event)" [(ngModel)]="calendarDates" #datetime
      disabled="{{calendarVisibility}}" [multiple]="true" presentation="date" [firstDayOfWeek]="1">
      <ion-buttons slot="buttons">
        <ion-button color="danger" (click)="datetime.reset()">Réinitialiser</ion-button>
        <ion-button color="primary" (click)="confirmCalendar()">Confirmer</ion-button>
      </ion-buttons></ion-datetime>
  </div>
  -->




  <p class="ion-text-center">
    <ion-button color="success" (click)="handleConfirm()">Enregistrer</ion-button>
  </p>
</ion-content>